<%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.text_field(:name, class:"form-control", autofocus: true, placeholder: "Full Name") %>
  </div>
  <div class="field">
    <%= f.email_field(:email, class:"form-control", autofocus: true, placeholder: "Email") %>
  </div>
  <div class="field">
    <%= f.password_field(:password, class:"form-control", autofocus: true, placeholder: "Password") %>
  </div>
  <div class="field">
    <%= f.password_field(:password_confirmation, class:"form-control", autofocus: true, placeholder: "Confirm Your Password") %>
  </div>
  <div class="actions">
    <% if @user.new_record? %>
      <%= f.submit 'Sign Up', class: "btn btn-block btn-primary" %>
    <% else %>
    <center><div class="gravatar_edit">
      <img src="<%= gravatar_for(@user, 150) %>" alt="<%= @user.name %>">
      <%= link_to "Change", "http://gravatar.com/emails", class: "btn btn-primary", target: "_blank" %>
    </div></center>
      <%= f.submit 'Save Changes', class: "btn btn-block btn-success" %>
    <% end %>
  </div>
<% end %>
