<p id="notice"><%= notice %></p>

<h1>Users</h1>
<%= will_paginate %>
<ul class="users">
  <% @users.each do |u| %>
    <li>
      <img src="<%= gravatar_for(u, 80) %>" alt="<%= u.name %>"> 
      <%= u.name %>
      <%= link_to 'Show', u, class: "btn btn-primary" %>
      <%= link_to 'Edit', edit_user_path(u) , class: "btn btn-primary" %>
      <%= link_to 'Destroy', u, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </li>
  <% end %>
</ul>
<%= will_paginate %>
